[submodule "src/cimgui"]
	path = src/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "src/imgui.net"]
	path = src/imgui.net
	url = https://github.com/realgamessoftware/imgui.net.git
[submodule "src/cimgui-freetype/freetype2"]
	path = src/cimgui-freetype/freetype2
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "dear-imgui-project/Packages/dear-imgui-unity"]
	path = dear-imgui-project/Packages/dear-imgui-unity
	url = https://github.com/realgamessoftware/dear-imgui-unity.git
